@model ProjektSemestralny.Models.Survey

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Edit" asp-route-id="@Model?.Id">
        <input type="submit" value="Edit" class="btn btn-info btn-lg" />
        <input type="button" onclick="location.href='@Url.Action("Index", "Surveys")'" value="Go back to list" class="btn btn-info btn-lg" />
    </form>
</div>
